.gallery {
    overflow: hidden;
    height: 512px;
    margin-bottom: 2rem;
    border-radius: 20px;
    
    .row {
        height: 100%;

        & > div {
            height: inherit;

            .gallery_item_holder {
                height: inherit;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &.single {
                    .gallery_item {
                        height: 100%;
                    }
                }

                .gallery_item {
                    height: 47.6%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
