.popular_posts {
    .post_item {
        .post_image {
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 10px;

            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;

                &:hover {
                    transform: scale(1.2, 1.2);
                }
            }
        }
        .post_title {
            display: block;
            color: $colorWhite;
            margin-bottom: 1rem;

            @media screen and (max-width: 575px) {
                font-size: 1.2rem;
                margin-bottom: 0.7rem;
            }

            @media (min-width: 576px) and (max-width: 767px) {
                font-size: 1.5rem;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
                margin-bottom: 0.7rem;
            }

            &:hover,
            &:focus,
            &:active {
                color: $mainColor;
            }
        }
        p {
            color: $borderColor;
            font-size: 0.9rem;

            @media screen and (max-width: 575px) {
                font-size: 1.1rem;
            }

            @media (min-width: 576px) and (max-width: 767px) {
                font-size: 1.1rem;
            }
        }
    }
}
