.popular_posts {
    .post_item {
        .post_image {
            display: block;
            width: fit-content !important;
            border-radius: 5px;
            overflow: hidden;

            img {
                max-width: 90px;
                min-height: 90px;
                object-fit: cover;

                @media screen and (max-width: 575px) {
                    max-width: 87px;
                    min-height: 87px;
                }

                @media (min-width: 576px) and (max-width: 767px) {
                    max-width: 142px;
                    min-height: 142px;
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    max-width: 82px;
                    min-height: 82px;
                }

                @media (min-width: 992px) and (max-width: 1199px) {
                    max-width: 68px;
                    min-height: 68px;
                }

                &:hover {
                    transform: scale(1.2, 1.2);
                }
            }
        }
        .post_title {
            display: block;
            color: $colorWhite;
            margin-bottom: 1rem;

            @media screen and (max-width: 575px) {
                font-size: 1.2rem;
                margin-bottom: 0.7rem;
            }

            @media (min-width: 576px) and (max-width: 767px) {
                font-size: 1.5rem;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
                margin-bottom: 0.7rem;
            }

            &:hover,
            &:focus,
            &:active {
                color: $mainColor;
            }
        }
        p {
            color: $borderColor;
            font-size: 0.9rem;

            @media screen and (max-width: 575px) {
                font-size: 1.1rem;
            }

            @media (min-width: 576px) and (max-width: 767px) {
                font-size: 1.1rem;
            }
        }
    }
}
